/**
 * @file App.scss
 * @author liangxiaojun
 */
@import './common.scss';

.app {
    position: fixed;
    width: 100%;
    height: 100%;

    .mac-title-bar {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 44px;
        user-select: none;
        -webkit-app-region: drag;
    }
}
