/**
 * @file common.scss
 * @author liangxiaojun
 */

$theme-primary: #1890ff;
$theme-body-bg: desaturate(darken($theme-primary, 10%), 80%);
$theme-light-bg: desaturate(darken($theme-primary, 30%), 60%);
$theme-dark-bg: desaturate(darken($theme-primary, 40%), 20%);

@mixin invisible {
    position: absolute;
    font: inherit;
    background: transparent;
    z-index: -1;
    opacity: 0;
    -webkit-appearance: none;
    appearance: none;
    resize: none;
    outline: none;
    overflow: hidden;
    padding: 0;
    width: 0;
    height: 0;
    cursor: none;
    pointer-events: none;
    white-space: nowrap;
}
