/**
 * @file MarqueeTable.scss
 * @author liangxiaojun
 */
@import '../common.scss';

.marquee-table {
    height: calc(100% - 78px);

    .ant-spin-nested-loading,
    .ant-spin-container,
    .ant-table,
    .ant-table-container,
    .ant-table-content {
        height: 100%;
    }

    .ant-table {
        background: transparent;
    }

    .ant-table-content table {
        height: 100%;

        thead tr {
            height: 100%;

            th {
                color: #fff;
                font-size: 40px;
                background: $theme-primary;
                border: none;
            }
        }

        tbody tr {
            height: 20%;

            td {
                color: #fff;
                font-size: 40px;
                border: none;
            }

            &:nth-child(odd) td {
                background: $theme-dark-bg;
            }

            &:nth-child(even) td {
                background: $theme-light-bg;
            }
        }
    }

    .ant-pagination {
        display: none;
    }
}
